

/* Start:/local/templates/main/components/bitrix/news.list/api/style.css?1564232652674*/
.documentation-list {
	margin: 40px auto;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.documentation-list .subtitle {
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	margin: 15px 0;
	font-weight: bold;
}

.documentation-list .item {
	margin-bottom: 30px;
}

.documentation-list .item .title {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	margin-bottom: 15px;
}

.documentation-list .item .text {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.documentation-list .item .link {
	font-size: 13px;
	line-height: 18px;
	color: #1574AA;
	margin-top: 15px;
	display: block;
}

/* End */
/* /local/templates/main/components/bitrix/news.list/api/style.css?1564232652674 */
