.table {
    max-width: 361px;
    margin-top: 15px;
}

.table .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    background: #E3E6E8;
    padding: 15px;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.table .row:nth-child(2n) {
    background: #F0F2F3;
}

.table .row.first, .table .row.last {
    background: #D5DADD;
    font-weight: bold;
}

.main-wrapper .ui-widget.ui-widget-content {
    background: none;
    border: none;
}

.main-wrapper .ui-tabs .ui-tabs-nav {
    background: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #99B1D4;
}

.main-wrapper .ui-state-active,
.main-wrapper .ui-widget-content .ui-state-active,
.main-wrapper .ui-widget-header .ui-state-active,
.main-wrapper a.ui-button:active,
.main-wrapper .ui-button:active,
.main-wrapper .ui-button.ui-state-active:hover {
    background: none;
}

.main-wrapper .ui-tabs .ui-tabs-nav li {
    border: none;
    background: none;
}

.main-wrapper .ui-tabs .ui-tabs-nav li a {
    color: #1574AA;
    font-size: 13px;
    line-height: 18px;
    outline: none;
}

.main-wrapper .ui-tabs .ui-tabs-nav .ui-state-active a,
.main-wrapper .ui-tabs .ui-tabs-nav .ui-state-active a:link,
.main-wrapper .ui-tabs .ui-tabs-nav .ui-state-active a:visited {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
    border-bottom: 4px solid #1574AA;
}

.btn {
    background: #4DAABF;
    border: 1px solid #165768;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.46);
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 18px;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
}

.ui-widget-content a.btn {
    color: white;
}

.input {
    background: #E8F0FE;
    border: 1px solid #99B1D4;
    box-sizing: border-box;
    padding: 8px 22px;
    resize: none;
}

.ui-widget-content.ui-tabs .ui-tabs-panel {
    padding: 0;
}