

/* Start:/local/templates/main/components/bitrix/news.list/main/style.css?1564229384631*/
.documentation-list {
	max-width: 950px;
	margin: 50px auto 60px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.documentation-list .column {
	width: 48%;
}

.documentation-list .item {
	margin-bottom: 30px;
}

.documentation-list .item .title {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	margin-bottom: 15px;
}

.documentation-list .item .text {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.documentation-list .item .link {
	font-size: 13px;
	line-height: 18px;
	color: #1574AA;
	margin-top: 15px;
	display: block;
}

/* End */
/* /local/templates/main/components/bitrix/news.list/main/style.css?1564229384631 */
