

/* Start:/local/components/uniplace/contact.us/templates/.default/style.css?15643479341390*/
.contact-us {

}

.contact-us .title {
    font-size: 30px;
    line-height: 34px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 15px;
}

.contact-us .subtext {
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 15px;
}

.contact-us .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 460px;
}

.contact-us .form .field {
    width: 48%;
    margin-bottom: 15px;
}

.contact-us .form .field.full {
    width: 100%;
}

.contact-us .form .field .name {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.contact-us .form .field .value {

}

.contact-us .form .field .input {
    background: #E8F0FE;
    border: 1px solid #99B1D4;
    box-sizing: border-box;
    padding: 8px 22px;
    width: 100%;
    resize: none;
}

.contact-us .form .btn {
    background: #4DAABF;
    border: 1px solid #165768;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.46);
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
}

.error {
    color: red;
    margin: 15px;
}

.success {
    color: green;
}
/* End */
/* /local/components/uniplace/contact.us/templates/.default/style.css?15643479341390 */
