

/* Start:/bitrix/components/bitrix/system.auth.changepasswd/templates/.default/style.min.css?1564040292426*/
div.bx-auth input.bx-auth-input{vertical-align:middle}div.bx-auth span.bx-auth-secure{background-color:#fffae3;border:1px solid #dedbc8;padding:2px;display:inline-block;vertical-align:middle}div.bx-auth div.bx-auth-secure-icon{background-image:url(/bitrix/components/bitrix/system.auth.changepasswd/templates/.default/images/sec.png);background-repeat:no-repeat;background-position:center;width:19px;height:18px}div.bx-auth div.bx-auth-secure-unlock{background-image:url(/bitrix/components/bitrix/system.auth.changepasswd/templates/.default/images/sec-unlocked.png)}
/* End */
/* /bitrix/components/bitrix/system.auth.changepasswd/templates/.default/style.min.css?1564040292426 */
