

/* Start:/local/templates/main/template_styles.css?15646927693662*/
body {
    font-family: Arial;
}

.container {
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
    z-index: 111111111;
}

.container .main-wrapper {
    max-width: 950px;
    margin: 30px auto;
}

.container .main-wrapper .main-title {
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    font-weight: bold;
}

.container.pos-rel {
    position: relative;
}

.container .code {
    background: #E3E6E8;
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
}

.main-container {
    background: #F0F2F3;
    border: 1px solid #C1C7C7;
    box-sizing: border-box;
    box-shadow: 0px 4px 9px rgba(39, 83, 112, 0.27);
    min-height: 1024px;
}

.class-rect-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.header {
    max-width: 970px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px 0;
}

.header.small {
    padding: 0;
    align-items: center;
    height: 100%;
}

.header .links {
    position: relative;
    min-height: 18px;
}

.header .links .link {
    font-family: Arial;
    font-size: 13px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    margin-right: 15px;
}

.header .links .button {
    background: #4DAABF;
    border: 1px solid #165768;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.46);
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
}

.header .links .dropdown {
    position: absolute;
    right: 15px;
    top: 25px;
    text-align: center;
    width: 88px;
    height: 75px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    flex-direction: column;
    display: none;
}

.header .links .dropdown.showed {
    display: flex;
}

.header .links .dropdown .item {
    font-family: Arial;
    font-size: 13px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #1574AA;
}

.header .links .dropdown .item:first-child {
    margin-bottom: 10px;
}

.header .wrapper {
    width: 100%;
    text-align: center;
}

.header .wrapper .text {
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.65);
    font-weight: bold;
}

.header .wrapper .button {
    background: #84D542;
    border: 1px solid #3A5B00;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.46);
    border-radius: 3px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #3A5B00;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.54);
    width: 165px;
    margin: auto;
    padding: 15px 0;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-decoration: none;
}


footer .container {
    background: #272E33;
    font-size: 11px;
    line-height: 13px;
    color: #898989;
}

footer .container .items-wrap {
    max-width: 950px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

footer .container .items-wrap .item {
    margin-right: 70px;
}

footer .container .items-wrap .item a {
    color: #898989;
    font-size: 11px;
    line-height: 13px;
}
/* End */
/* /local/templates/main/template_styles.css?15646927693662 */
