

/* Start:/local/templates/main/components/bitrix/system.auth.authorize/.default/style.css?1564235915977*/
.auth-form {

}

.auth-form .title {
    font-size: 30px;
    line-height: 34px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 30px;
}

.auth-form .form-fields {

}

.auth-form .form-fields .field {
    margin-bottom: 15px;
}

.auth-form .form-fields .field .name {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.auth-form .form-fields .field .value {

}

.auth-form .form-fields .field .value .input {
    background: #E8F0FE;
    border: 1px solid #99B1D4;
    box-sizing: border-box;
    padding: 8px 22px;
}

.auth-form .btn {
    background: #4DAABF;
    border: 1px solid #165768;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.46);
    border-radius: 3px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    margin-top: 15px;
}
/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?156404029251*/
font.errortext{color:red}font.notetext{color:green}
/* End */
/* /local/templates/main/components/bitrix/system.auth.authorize/.default/style.css?1564235915977 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?156404029251 */
